@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* ===============================
   ReactFlow cursor normal
=============================== */

/* Fondo del mapa */
.react-flow__pane {
  cursor: default !important;
}

/* Viewport interno */
.react-flow__viewport {
  cursor: default !important;
}

/* Renderer general */
.react-flow__renderer {
  cursor: default !important;
}